<ion-header class="hbz-header-primary">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Configurações</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="hbz-page-primary">
  <ion-list class="ion-no-padding" lines="none">
    <ion-list-header>
      <ion-label>GPS</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Rastreio do celular</ion-label>
      <ion-checkbox
        slot="start"
        [(ngModel)]="settings.gps"
        (ionChange)="save()"
      ></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
