.hbz-header-primary {
  & ion-toolbar {
    --background: var(--hbz-color-primary);
    --padding-start: 1rem;
    --padding-end: 1rem;
  }
}

.hbz-header-secondary {
  @extend .hbz-header-primary;

  & ion-toolbar {
    --padding-start: 0;
  }
}
