.hbz-header-primary {
  & ion-toolbar {
    --background: var(--hbz-color-primary);

    & * {
      color: var(--hbz-text-color-secondary);
    }
  }
}

.hbz-header-secondary {
  & ion-toolbar {
    --background: var(--hbz-background-color-primary);
    --padding-start: 1rem;

    & * {
      color: var(--hbz-text-color-primary);
    }
  }
}
