<ion-header class="hbz-header-primary">
  <ion-toolbar>
    <ion-title>Início</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="hbz-page-primary">
  <ion-grid>
    <ion-col>
      <ion-row>
        <ion-button class="hbz-button-primary">
          <ion-icon
            slot="start"
            name="settings-sharp"
            class="ion-margin-end"
          ></ion-icon>
          <ion-text>Configurações</ion-text>
        </ion-button>
      </ion-row>
      <ion-row>
        <ion-button class="hbz-button-primary">
          <ion-icon
            slot="start"
            name="information-circle-sharp"
            class="ion-margin-end"
          ></ion-icon>
          <ion-text>Informações</ion-text>
        </ion-button>
      </ion-row>
    </ion-col>
  </ion-grid>
</ion-content>
